.background {
  @apply w-screen min-h-screen bg-gradient-to-b from-neutral-700 to-neutral-900;
  padding-top: 100px;
}

.title {
  @apply text-center text-4xl text-yellow-200 underline decoration-wavy;
}

.body {
  @apply grid grid-cols-3 divide-x divide-none;
  margin-top: 100px;
  >div {
    @apply col-start-2 col-end-2;
  }
}

.link {
  @apply text-yellow-500;
}

::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}
