@import "tailwindcss" important;

/* HTML */
body {
  @apply min-h-screen pt-28;
}

/* Steam Achievements */
.profile_customization_header {
  @apply text-center text-2xl pb-2;
}

.showcase_content_bg {
  @apply flex flex-row flex-wrap;
}

.showcase_achievement {
  @apply w-14 h-14 m-1;
}

.plus_more {
  @apply flex items-center;
}

.showcase_stats_row {
  @apply flex-wrap justify-between pt-2;
}

/* Posts */
.markdown {
  h1 {
    @apply text-center text-2xl mb-5;
  }

  h2 {
    @apply text-xl mb-5;
  }

  h3 {
    @apply text-lg mb-5;
  }

  h4 {
    @apply text-base mb-5;
  }

  p,
  pre {
    @apply mb-5;
  }

  code {
    @apply italic;
  }

  ul {
    @apply pl-10 mb-20;
  }
}
